{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block
content %}

<h3>Scrape Wikipedia pages to create a dataset on Disney movies</h3>

<ul>
  <li>Web scraping with BeautifulSoup</li>
  <li>Cleaning data</li>
  <li>Testing code with Pytest</li>
  <li>Pattern matching with regular expressions (Re library)</li>
  <li>Working with dates (datetime library)</li>
  <li>Saving & loading data with Pickle library</li>
  <li>Accessing data from an API using Requests library</li>
</ul>

{% endblock %}
