{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

    <h3>divorce rates among actors and actresses on Wikipedia</h3>

    <p>
        The biography pages have martial statuses and years for a lot of people. 
        How often do major actors and actresses get divorced? 
        How does that compare to politicians or musicians? You can cut this a thousand interesting ways — gender, film genres, age, having major award nominations or not, etc. 
        When do they get married? How long do those marriages last? How big are the age gaps? How many result in children? Has it changed over time? 
    </p>

    <p>
        Make a simple model to predict divorces among actors and actresses, and allow people to search for their favorite actor or actress to see what the model thinks of their chances.
    </p>
    

{% endblock %}