{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block
content %}

<div class="banner">
  <h1>My Data Science Portfolio</h1>
</div>

<div class="main-content">
  <ul class="projects-list">
    <li>
      <a href="{{ url_for('projects_view', project_name='disney_movies') }}">
        Disney movies dataset creation
      </a>
    </li>

    <li>
      <a
        href="{{ url_for('projects_view', project_name='hollywood_divorces') }}"
      >
        Divorce Rates among actors and actresses
      </a>
    </li>
  </ul>

  {% endblock %}
</div>
